
/* load the google font for the numbers in the table */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* style the country column in the table  */
.country {
  display: flex;
  align-items: center;
}

.country-flag {
  height: auto;
  border: 1px solid #f0f0f0;
  width: 30px;
}

.country-name {
  margin-left: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.iso-code {
  margin-left: 0.35rem;
  color: hsl(0, 0%, 45%);
  font-size: 0.7125rem;
}

/*  style the currency column in the table */
.currency-code {
  margin-left: 0.35rem;
  color: hsl(0, 0%, 45%);
  font-size: 0.7125rem;
}

/*  default column styling */
.header {
  border-bottom-color: #555;
  font-size: 0.8125rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* Highlight headers when sorting */
.header:hover,
.header:focus,
.header[aria-sort="ascending"],
.header[aria-sort="descending"] {
  background-color: #eee;
}

/* Use box-shadow to create row borders that appear behind vertical borders */
.cell {
  box-shadow: inset 0 -1px 0 rgba(249, 250, 251, 1);
}

/* add border to the left side of the cell */
.border-left {
  border-left: 2px solid #555;
}

/*  row details */
.country-details {
  padding: 24px;
  box-shadow: inset 0 1px 3px #dbdbdb;
  background: hsl(213, 20%, 99%);
}

.detail-label {
  margin: 1.25rem 0 0.25rem;
  font-size: 0.98rem;
  color: #909090;
  padding: 0.125rem 0.75rem;
  font-weight: 580;
}

.detail-value {
  font-size: 0.97rem;
  color: #393B44;
}

.value {
  padding-left: 10px;
}

.country-map {
  height: auto;
  border: 1px solid #ddd;
  width: 630px;
  border-radius: 8px;
}

.top-level {
  display: flex;
  justify-content: space-between;
}

#country-profile {
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
